<form>
    <textarea name="input-text" id="input-text" maxlength="1000" [value]="inputTextValue"></textarea>
    <div class="input-button-container">
        <button name="audio-recording-button" id="audio-recording-button" class="input-button" type="button" >Record</button>
        <button name="translate-button" id="translate-button" class="input-button" type="button">Translate</button>
        <button name="clear-button" id="clear-button" class="input-button" type="button">clear</button>
    </div>
    
</form>
