<form>
  <textarea
    [(ngModel)]="inputText"
    name="input-text"
    id="input-text"
    maxlength="1000"
  ></textarea>
  <div class="input-button-container">
    <div
      name="audio-recording-button"
      id="audio-recording-button"
      class="input-button"> 
      <img src="/assets/img/microphone-icon.png" />
    </div>
    <button
      name="translate-button"
      id="translate-button"
      class="input-button"
      type="button"
    >
      Translate
    </button>
    <button
      name="clear-button"
      id="clear-button"
      class="input-button"
      type="button"
    >
      Clear
    </button>
    <div class="chracter-counter">{{ inputText.length }}/1000</div>
  </div>
</form>

