<form>
    <textarea name="output-text" id="output-text" readonly></textarea>
    <div class="output-button-container">
        <div name="play-button" id="play-button" class="output-button"><img src="/assets/img/play-button-icon.png"></div>
        <div name="pause-button" id="pause-button" class="output-button"><img src="/assets/img/pause-button-icon.png"></div>
        <div name="stop-button" id="stop-button" class="output-button"><img src="/assets/img/stop-button-icon.png"></div>
    </div>
</form>
