<form>
    <textarea name="output-text" id="output-text" readonly></textarea>
    <div class="output-button-container">
        <button name="play-button" id="play-button" class="output-button" type="button"><img src="/assets/play-button-icon.png"></button>
        <button name="pause-button" id="pause-button" class="output-button" type="button"><img src="/assets/pause-button-icon.png"></button>
        <button name="stop-button" id="stop-button" class="output-button" type="button"><img src="/assets/stop-button-icon.png"></button>
    </div>
</form>
